extends ../layout.jade

block content
	.customContainer
		.mdl-grid
			.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet
				.card-header.companymain.mdl-card.mdl-shadow--2dp
					.mdl-card__title
						h2.mdl-card__title-text=title
					.mdl-card__actions.mdl-card--border
					.mdl-card__supporting-text 
						p To manage your company terms please visit the term management page.
						p View the current sentiment analysis for each defined term in the sentiment analysis page.
