extends ../layout.jade

block content
	.customContainer
		.mdl-grid
			.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet
				.card-header.termmanagement.mdl-card.mdl-shadow--2dp
					.mdl-card__title
						h2.mdl-card__title-text=title
					.mdl-card__actions.mdl-card--border
					.mdl-card__supporting-text 
						p View and manage your company terms on this page.
						#terms
	

	script(src='/javascripts/libs/jquery.serialize-object.min.js')
	script(src='/javascripts/company/terms.js')
