extends ../layout.jade

block content
    .customContainer
        .mdl-grid
            .mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet
                .card-header.viz.mdl-card.mdl-shadow--2dp
                    .mdl-card__title
                        h2.mdl-card__title-text=title
                    .mdl-card__actions.mdl-card--border
                    .mdl-card__supporting-text
                        p Select a term below to load the sentiment analsis visualization
                        div.mdl-tabs.is-upgraded
                            div#terms-wrapper.mdl-tabs__tab-bar
                        
                        div#date-wrapper
                        div#viz-wrapper
                        
    
    script(src='//d3js.org/d3.v3.min.js')
    script(src='../javascripts/company/viz.js')
