extends ../layout.jade

block content
	.customContainer
		.mdl-grid
			.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet
				.login-card.mdl-card.mdl-shadow--2dp
					.mdl-card__title
						h3=title
					.mdl-card__actions.mdl-card--border
					
