body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

path, line {
	stroke-width: 1px;
	stroke: black;
	fill: none;
}

circle {
	cursor: pointer;
}

.tooltip {
	background-color: #ccc;
	padding: 10px;
	position: absolute;
}
