body {
	// padding: 50px;
	// font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	// color: #00B7FF;
}

.customContainer {
	margin: auto;
	width: 80%
}

.header-image {
	background: url('../images/header.jpg') center / cover;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.login-card {
	position: relative;
	margin:auto;
	display: block;
	width: 100%;
	color: #00B7FF;
}

path, line {
	stroke-width: 1px;
	stroke: black;
	fill: none;
}

circle {
	cursor: pointer;
}

.tooltip {
	background-color: #ccc;
	padding: 10px;
	position: absolute;
}
