.customContainer {
	margin: auto;
	width: 80%
}

.header-image {
	background: url('../images/header.jpg') center / cover;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.card-header {
	position: relative;
	margin:auto;
	display: block;
	width: 100%;
	color: #00B7FF;
}

.login-card > .mdl-card__title {
	color: white;
  height: 300px;
  background: url('../images/login.jpg') center / cover;
}

.fetcherlog > .mdl-card__title {
	color: white;
	height: 300px;
	background: url('../images/fetcherlog.jpg') center / cover;
}

.vmmanagement > .mdl-card__title {
	color: white;
	height: 300px;
	background: url('../images/vmmanagement.jpg') center / cover;
}

.viz > .mdl-card__title {
	color: white;
	height: 300px;
	background: url('../images/viz.jpg') top / cover;
}

.termmanagement > .mdl-card__title {
	height: 300px;
	background: url('../images/termmanagement.jpeg') center / cover;
}

.adminmain > .mdl-card__title {
	color: white;
	height: 300px;
	background: url('../images/adminmain.jpg') center / cover;
}

.companymain > .mdl-card__title {
	color: white;
	height: 300px;
	background: url('../images/companymain.jpg') center / cover;
}

.mdl-badge[data-badge]:after {
	top: -15px;
	right: -33px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	font-size: 12px;
	width: 33px;
	height: 33px;
}

.error {
	color: red;
}

.loginstatusicon {
	font-size:18px;
}

#monitoring-wrapper > div {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

#monitoring-wrapper > div h3 {
	font-size: 24px;
	color: black;
	font-weight: bold;
	margin-bottom: 0;
}

#monitoring-wrapper > div:first-child h3 {
	margin: 0;
}

#monitoring-wrapper .graph {
	padding: 20px;
	box-shadow: 0 0 3px #aaa;
	display: inline-block;
	margin: 10px;
}

#monitoring-wrapper .graph span {
	color: #aaa;
	font-size: 14px;
	display: block;
	margin-bottom: 20px;
}

line, path {
	stroke-width: 1px;
	stroke: black;
	fill: none;
}

g.tick line {
	stroke: #ccc;
	stroke-dasharray: 2,2;
}

path.line {
	stroke: #4D90FE;
	stroke-width: 2px;
}

circle {
	cursor: pointer;
}

rect {
	fill: #6FE482;

}

.tooltip {
	background-color: #ccc;
	padding: 10px;
	position: absolute;
	z-index: 999;
}

.termDeleteButton {
	font-size: 12px;
}

span.displayTerm {
	padding: 2px 5px;
}

.termOptimisticUI {
	border-radius: 4px;
	animation-name: optimisticUI;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

span.displayVM, span.displayVMState {
	padding: 2px 5px;
}

.vmOptimisticUI {
	border-radius: 4px;
	animation-name: optimisticUI;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

/* The animation code is inspired by --> http://codepen.io/metagrapher/pen/tgcLl */
@keyframes optimisticUI {
	0%   { background-color: transparent; }
	50%  { background-color: rgba(255, 204, 0, 0.5); }
}

#viz-wrapper {
	margin-top: 20px;
	height: 300px;
}

#terms-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#date-wrapper {
	padding: 20px 0;
}

#date-wrapper span {
	padding-right: 20px;
	font-size: 30px;
	color: black;
}

#terms-wrapper > div {
	padding: 10px;
	border: 1px solid black;
	margin-right: 5px;
}

.mdl-mini-footer {
	padding: 0px 16px;
}
