extends ../layout.jade

block content
	h1=title
	h2=email
	a(href='/company/term-management' target='_self') Go to the Terms Management Screen
	br
	a(href='/company/viz' target='_self') Go to the Sentiment Visualization Screen
	form(method='post' action='/logout')
		button#logout(type='submit') logout
