extends ../layout.jade

block content
    h1=title
    h2
        | showing the last 100 tweets of the term "clinton"
    script(src='//d3js.org/d3.v3.min.js')
    script(src='../javascripts/viz.js')
