extends ../../layout.jade

block content
	.customContainer
		.mdl-grid
			.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet
				.card-header.fetcherlog.mdl-card.mdl-shadow--2dp
					.mdl-card__title
						h2.mdl-card__title-text=title
					.mdl-card__actions.mdl-card--border
					.mdl-card__supporting-text
						#status-wrapper
							#loadtest
							#vms
						#avg-wrapper
						#nodes-wrapper
							h3="Single Nodes"
	script.
		var loadtestPath = '/carlton/dev/loadtest';
		var instanceGroupZone = 'us-east1-d';
		var instanceGroupName = 'carlton-nodes';
	script(src='./../../socket.io/socket.io.js')
	script(src='//d3js.org/d3.v3.min.js')
	script(src='./../../javascripts/admin/monitoring/graphRendering.js')
	script(src='./../../javascripts/admin/monitoring/carlton.js')
	script(src='./../../javascripts/admin/vms.js')
	script(src='./../../javascripts/dev/loadtest.js')
