extends ../../layout.jade

block content
	.customContainer
		.mdl-grid
			.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet
				.card-header.fetcherlog.mdl-card.mdl-shadow--2dp
					.mdl-card__title
						h2.mdl-card__title-text=title
					.mdl-card__actions.mdl-card--border
					.mdl-card__supporting-text
						.row
							#avg-wrapper
							#status-wrapper
								#vms
						#tps-wrapper
						#nodes-wrapper
							h3="Single Nodes"
	script.
		var instanceGroupZone = 'asia-east1-a';
		var instanceGroupName = 'jazz-nodes';
	script(src='https://cdn.socket.io/socket.io-1.4.5.js')
	script(src='//d3js.org/d3.v3.min.js')
	script(src='./../../javascripts/admin/monitoring/graphRendering.js')
	script(src='./../../javascripts/admin/monitoring/jazz.js')
	script(src='./../../javascripts/admin/vms.js')
